@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Lato');

:root{
    /* --primary-orange: #54a0de; */
    --primary-orange: orange;
    --primary-orange-hue: #ffad5067;
    --primary-blue: #4b70d5d2;
    --background-color: #ececec;
    
    --primary-dark: rgb(52, 52, 52);
}

html { scroll-behavior: smooth; } 


#loading_div{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width: 101%;/* made these 101% because rendering had a tiny gap to the right*/
    height: 101%; /* and bottom of the screen (showing the background)*/
    background-color: #1a1a1a;
    z-index: 30;
    
  animation: opac 1.5s linear forwards;
  animation-delay: 4s;
}

@keyframes opac {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}

#loading_E_id {
  position: absolute;
  z-index: 100;
  animation: bezier_curve_move 2s ease-out forwards, rot_e 1.5s ease-out forwards;
  animation-delay: 0s, 2.1s;
}

#loading_K_id {
  position: absolute;
  z-index: 100;
  animation: bezier_curve_move 2s ease-out forwards, rot_k 1.5s ease-out forwards;
  animation-delay: 0s, 2.1s;
}

@keyframes rot_e {
    from{
        transform: rotate(0deg);
        left:0px;
    }
    to{
        transform: rotate(-90deg);
        left:-7.5%;
        top: auto;
    }
}

@keyframes rot_k {
    from{
        transform: rotate(0deg);
        left:0px;
    }
    to{
        transform: rotate(90deg);
        left:6.5%;
    }
}

@keyframes bezier_curve_move {
    from{
        transform: rotate(270deg);
    }
  to {
        offset-distance: 100%;
        transform: rotate(0deg);
  }
}


/* Removes the blue tap highlight on mobile */
* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    /* background-color: #cecece; */
    /* background-color: var(--background-color); */
    background-color: #ececec;
    min-width: 400px;
    justify-items: center;
}

.back_dn{
    transition: background-color 1s ease;
}

#top_nav {
    display: block;
    /* flex: 1 1 auto; */
    height: 60px;
    background-color: #FEFEFF;
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-width: 400px;
    transition: background-color 1s ease;
}

/* BANNER */
.banner {
    position: relative;
    top: 54px;
    text-align: center;
    margin-bottom: 100px;
    max-height: 500px;
    overflow: hidden;
    transition: opacity 1s ease;
}

.banner img {
    width: 100%;
    align-self: center;
}


.syncopate-bold {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
    /* font-size: 50px; */
    font-size: 5em;
    /* font-size: max(50pt,5em); */
    margin: 0;
}

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    width: 100%;
    /* font-size: 24px; */
    font-size: 2.5em;
    /* font-size: min(5vw,90px); */
    margin: 0;
}

.p_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cart_num_id {
    display: none;
    text-align: center;
    float: right;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top:1px ;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    top: 4px;
    right: 10px;
    color: white;
    border: 1px solid white;
    font-size: 10px;
    pointer-events: none;
    transition: border 1s ease;
}

#cart_num_id.active {
    display: flex;
}


.material-symbols-outlined {
    color: var(--primary-dark);
}

.cart_icon {
    font-size: 28px;
    /* float: right; */
    margin: 0 18px 0 20px;
    /* margin-right: 18px; */
    /* margin-left: 45px; */
    cursor: pointer;
    transition: color 1s ease;
}

.cartItemContainter {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
    max-width: 430px;
    height: 100px;
    margin: 15px 10px 0 15px;
    margin-inline: auto;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgb(134, 134, 134);
    overflow: hidden; 
    }


.leftpic {
    flex: 1;
}

.leftpic img {
    position: absolute;
    top: 0;
    left: 0;
    height: 87%;
    width: auto;
    /* height: 100%; */
    object-fit: contain;
    border-radius: 5px;
}

.rightname {
    flex: 1.3;
}

.rightname p {
    margin: 0;
}

.pan_text{
    /* color: #555; */
    color: rgba(243, 56, 56, 0.88);
    font-size: 14px;
}


.blurred {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 87% !important; /* TODO: 'fix'/solve this problem later...ornot*/
  filter: grayscale(100%) brightness(50%);
  clip-path: inset(0 0 0 50%);
}

#cart_contents_id {
  position: fixed;
  top: 28px;
  left: 6px;
  right: 6px;
  /* width: auto; */
  /* margin-inline: 6px; */
  max-width: 430px;
  height: 0;
  max-height: 400px;
  z-index: 6;
  transition: height 0.3s ease;
  overflow: hidden; 
  /* margin: 0 auto; */
}


#cart_contents_id.open {
  overflow: visible;
  height: 370px;
}

.cartContent {
    display: flex;
    flex-direction: column;
    min-width: 388px;
    width: 100%;
    height:100%;
    /* height: 400px; */
  /* margin-inline: 6px; */
  position: relative;
  padding-top: 26px;
  padding-bottom: 68px;
  border-radius:  0px 0px 16px 16px;
    box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow: hidden;
}

#nothing_in_cart{
    margin: 50% auto;
}

.checkout_div {
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:6;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    height: 10%;
    border-radius: inherit;
    padding: 10px 15px;
    background-color: white;
    text-align: center;
}

#checkoutBtn {
  background: #3939398b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 40px;
  width: 100px;
  height: 40px;

}

#checkoutBtn.enabled{
  background: #4091ee;
}


.body_content {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}


/* Menu layout */
.menu {
    max-width: 86%;
    margin: 20px auto;
    padding: 0 20px;
}

.cartItems {
    overflow-y: auto;}

.pan_button_div{
    padding: 10px 0 0 0; 
    width: 100%;
    margin-inline: auto;
    /* max-width: 600px; */

  display: flex;
  gap: 1%; 
}

.pan_button_div button{

    height: 46px;
    padding: 0;
    width: 100%;
    cursor: pointer;
}

.portionButton{
    background-color: #ffad5067;
    color: orange;
    font-size: 15px;
    border: 3px solid transparent;
    border-radius: 80px;
    transition: border-color 0.4s ease;
}

.portionButton.active{
    border-color: orange;
}

.cirButton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: -65px; 
    right: 10px; 
    width: 60px; 
    height:60px; 
    background-color: white;
    color: black;
    border-radius:50%;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.566);          
    cursor: pointer;
    text-align: center;
    transform: rotate(0deg);  
    transition: transform 0.2s ease;
    padding: 0;
    margin: 0;
}

.cirButton.itemWasAdded{
  background-color: #e1968e;
  transform: rotate(135deg);
}

.plus{
    height: 40px;
    width: 40px;
}


.category {
    margin-bottom: 32px;
}


.tempContainer {
    display: grid;

    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 30px;
}

.menu h1 {
    margin: 50px auto;
    color: #333;
    text-align: center;
    font-size: 48px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
    to bottom, 
    #fff 0%,      
    #fff 25%,     
    #444444e0 25%,
    #000000eb 100%
  );
    margin-bottom: 15px;
    border-radius: 100px 100px 30px 30px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); */
    z-index: 3;
}

.item_image {
    width: 100%;
    border-radius: 60px 0 110px 0;
}

.item_image:hover {
    cursor: pointer;
}

.menu-item-content {
    /* min-height: 200px; */
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    /* background: #393939d5; */
    padding: 10px 10px;
    
    border-radius: inherit;
    flex: 1;
}

.menu-item-content h3 {
    color: var(--primary-blue);
    /* margin: 15px 0 0 0; */
    margin: 0;
    font-size: 24px;
}


.languageContainer{ 
    position: relative;    
    margin: 13px;
    width: 60px;
    /* height: 24px; */
    /* height: 50%; */

    /* z-index: 999; */
}

.languageContainer img{
    position: absolute;
    margin: auto;
    height: 14px;
    z-index: 1;
}

.usa{
    left: 4px;
    top:22%;
    border-radius: 3px;
}

.dr{
    right: 4px;
    top:22%;
    border-radius: 3px;
}

.switchLanguage{
    /* display: flex; */
    background: rgba(42, 42, 42, 0.639) !important;
    height: inherit;
    aspect-ratio: 2.5/1;
    border-radius: 50px;
}

.switchBall{
    height: 100%;
    width: 50%;
    background: rgb(70, 178, 70);
    border-radius: 50px;
    transition: transform 0.5s ease;
    transform: translateX(0);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.switchBall.changeToSpanish{
transform: translateX(100%);
}


.menu-item-content p {
    margin: 10px 0 5px 0;
    font-size: 18px;
    color: #ffffff;
}

.menu-item-content input {
    transform: scale(1.2);
}


.image_icon_container {
    display: flex;
    position: absolute;
    top: 55px;
    left: 0;
    justify-content: right;
    width: 100%;
    margin-block: 10px;
}

#qrcode-div-id{
    display: flex;
    /* align-content: center; */
    flex-direction: column;
    position: fixed;
    top: 54px;
    left: 0;
    right:0;
    bottom: 0;
    width: 90%;
    height: 90%;
    min-height: 630px;
    max-height: 680px;
    max-width: 400px;
    margin: 10px auto;
    background-color: #fffffffc;
    border-radius: 20px;
    /* box-shadow: 0 14px 16px -4px rgba(0, 0, 0, 0.3); */

    /* display: flex;           */
    justify-content: center;    /* center horizontally */
    align-items: center;  
    align-content: center;
    
    /* justify-self: center; */
} 

p{
    transition: opacity 0.7s ease !important;
}

p::before{
    opacity: 0;
}

p::after{
    color:greeen;
    opacity: 1;
}

.text_dn{
    transition: color 1s ease !important;
}

.shadow_dn{
    transition: box-shadow 1s ease;
}

#qrTitleId{
    text-align: center;
    margin-top: 0;
    margin-bottom:40px;
    margin-inline: 10px;
}

#qrTextId{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-inline: 10px;
}

/* .txt{
    
    text-align: center;
} */

.close_qrcode_window{
    position: absolute;
    top: 5px;
    right: 20px;
    /* margin-right: 20px; */
    float: right;
    color: black;
    font-size: 40px;
    transition: 0.3s;
    cursor: pointer;
    /* z-index: 3; */
    /* text-shadow: 0 0 6px rgba(0, 0, 0, 0.9); */
}

#currentDateId{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
}

#save-qr-button{
    position: absolute;
    height: 50px;
    width: 90%;
    /* aspect-ratio: 3/1; */
    /* max-width: 200px; */
    bottom: 16px;
    /* right:16px; */
    font-size: 20px;
    border: none;
    background-color: #4791e1;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}


#qrcode-div-background-id{
    display: none;
    align-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#image_viewer_window {
    display: none;
    align-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* z-index: 8; */
    z-index: 4;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.image_viewer {
    display: block;
    justify-self: center;
    width: 100%;
    max-width: 900px;
    margin: 200px auto;
}

.close_icon {
    position: absolute;
    top: 10px;
    right: 20px;
    margin-right: 20px;
    float: right;
    color: white;
    font-size: 40px;
    transition: 0.3s;
    cursor: pointer;
    /* z-index: 3; */
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}

.cartPlusMinusDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cartMinusSign, 
.cartPlusSign{
    width:  24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    /* margin-bottom: 2px; */
    font-size: 30px;

}

.cartTrashIcon{
    margin-top: 14px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    cursor: pointer;
}

.save_div{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#saveContainerId{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    min-width: 388px;
     top: -460px;
    width: 100%;
    height: 0;
    /* background-color: #94cbe3; */
    border-radius: 0px 0px 24px 24px  ;
    background-color: #6d93af;
    z-index: 4;
    transition: height 0.6s ease;
    /* background-color 0s ease-in-out; */
    /* transition-delay: 0s, 0s, 0s; */
    overflow: hidden;
}

#saveContainerId.show {
    /* padding-top: 40px; */
    box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.3);
    height: 100%;
}

#cancelMessageButtonId, #saveMessageButtonId{
    width: 90px;
    height: 40px;
    border-radius: 40px;
    border: none;
    /* margin-block: 16px; */
    background-color: #e1968e;
    cursor: pointer;
    color: white;
}


#saveMessageButtonId{
    background-color: #6dac63;
    /* background-color:rgba(57, 57, 57, 0.545); */
}

#labelId{
    text-align: center;
    margin-block: auto;
}

#textareaId {
      width: 80%;
      height: 150px;
      padding: 10px;
      font-size: 16px;
      max-width: 500px;
      resize: none;
      /* border-radius: 8px; */
    }

#add_message{
    display: none;
    cursor: pointer;
}

#add_message:hover{
    text-decoration: underline;
}

.disclaimerText{
    text-align: center; 
    margin-block: 40px;
    margin-inline: auto;
    padding-inline: 20px;
    max-width: 500px;
    z-index: 2;
    position: relative;
}


.footer {
    height: 200px;
    width: 100%;
    margin-top: 70px;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    background-color: #000000eb;
    /* background-image: linear-gradient(rgb(42, 42, 42), rgba(62, 37, 16, 0.925)); */
}

@media (min-width: 450px) {
  #cart_contents_id {
    left: auto; 
     right: 6px;
    width: 100%;
    
  max-width: 430px;
    /* margin: 0; */
  }
}
@media screen and (max-width: 600px) {

    .menu {
        padding: 0 20px;
        /* margin: 0 10px; */
        padding-bottom: 100px;
    }

    .tempContainer {
        gap: 50px;
    }


    .menu-item {
        width: 100%;
        margin: auto;
    }


    .menu-item img {

        /* width: 100%; */
        /* height: wrap; */
        object-fit: contain;
        /* transition: 1s ease; */
    }

    .menu-item-content h3 {
        font-size: 22px;
    }

    .menu-item-content p {
        font-size: 18px;
    }

    .syncopate-bold {
        /* font-size: 10vw; */
        font-size: 3em;
        /* font-size: max(50pt,3em); */

    }

    .caveat{
        /* font-size: 5vw; */
        
    font-size: 1.5em;
    /* font-size: max(26pt,1.5em); */
    }

}